In [20]:
import pandas as pd
data=pd.read_csv('	rain.csv')

In [21]:
data.head(4)

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543

In [22]:
##Analysing the data
data.isnull().sum()     ##there is no missing entry

id                          0
molecule_name               0
atom_index_0                0
atom_index_1                0
type                        0
scalar_coupling_constant    0
dtype: int64

In [34]:
data1=data.drop(['id'],axis=1)
from sklearn.preprocessing import LabelEncoder 
le=LabelEncoder()
data1['molecule_name']=le.fit_transform(data1['molecule_name'])
data1['type']=le.fit_transform(data1['type'])
data1.head()

   molecule_name  atom_index_0  atom_index_1  type  scalar_coupling_constant
0              0             1             0     0                   84.8076
1              0             1             2     3                  -11.2570
2              0             1             3     3                  -11.2548
3              0             1             4     3                  -11.2543
4              0             2             0     0                   84.8074

In [36]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
data1=sc.fit_transform(data1)
final_data=pd.DataFrame(data1,columns=['molecule_name','atom_index_0','atom_index_1','type','scalar_coupling_constant'])
final_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,-1.882099,-3.781510,-1.178221,-1.646294,1.971438
1,-1.882099,-3.781510,-0.777735,-0.225843,-0.777822
2,-1.882099,-3.781510,-0.577493,-0.225843,-0.777759
3,-1.882099,-3.781510,-0.377250,-0.225843,-0.777745
4,-1.882099,-3.475485,-1.178221,-1.646294,1.971433

In [50]:
X=final_data.loc[:,final_data.columns != 'scalar_coupling_constant']
Y=final_data['scalar_coupling_constant']
Y.head()
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3)

In [51]:
print (x_train.shape)
print (y_train.shape)
print (X.shape)
print (Y.shape)

(3260702, 4)
(3260702,)
(4658147, 4)
(4658147,)

In [54]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
pred=lr.predict(x_test)

In [53]:
from sklearn.metrics import accuracy_score,confusion_matrix,r2_score
r2_score(y_test,pred)

0.4125904144358553

In [55]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [56]:
pred_dt=dt.predict(x_test)
r2_score(y_test,pred_dt)

0.9737559185651806

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=400, max_depth=2, random_state=0)
rf.fit(x_train,y_train)
pred_rf=rf.predict(x_test)
r2_score(y_test,pred_rf)

In [57]:
## loading the test data 
test_data=pd.read_csv('	est.csv')
test_data.head()

        id     molecule_name  atom_index_0  atom_index_1  type
0  4658147  dsgdb9nsd_000004             2             0  2JHC
1  4658148  dsgdb9nsd_000004             2             1  1JHC
2  4658149  dsgdb9nsd_000004             2             3  3JHH
3  4658150  dsgdb9nsd_000004             3             0  1JHC
4  4658151  dsgdb9nsd_000004             3             1  2JHC

In [58]:
test_data1=test_data.drop(['id'],axis=1)
#from sklearn.preprocessing import LabelEncoder 
#le=LabelEncoder()
test_data1['molecule_name']=le.fit_transform(test_data1['molecule_name'])
test_data1['type']=le.fit_transform(test_data1['type'])

In [59]:
test_data1=sc.fit_transform(test_data1)
final_data=pd.DataFrame(test_data1,columns=['molecule_name','atom_index_0','atom_index_1','type'])
final_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int32, int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

   molecule_name  atom_index_0  atom_index_1      type
0       -1.88108     -3.469978     -1.177400 -0.700100
1       -1.88108     -3.469978     -0.977092 -1.646903
2       -1.88108     -3.469978     -0.576476  1.193505
3       -1.88108     -3.164374     -1.177400 -1.646903
4       -1.88108     -3.164374     -0.977092 -0.700100

In [65]:
test_pred=dt.predict(final_data)
final_result=pd.DataFrame(test_pred,columns=['scalar_coupling_constant'])
#final_result.head()
final_result.insert(0,'id',test_data.id)
final_result.head()
final_result.to_csv('submission.csv',index=False)